	<div class="clear"></div>
<div class="wrap">
<div class="wrapper">
<div class="main_text">
		<h2>A place of light, of liberty, and learning</h2>
		<h3>we provide leading intensive courses</h3>
	</div>	
	<div class="grids_1_of_4">
				
				<div class="grid_1_of_4 images_1_of_4 bg2" ng-repeat="tabs in tabsArray.subjects">
				<!-- <img src="images/icon2.png"> -->
				<p>
 <img src = 'images/icon2.png' style='vertical-align: bottom' />
 <br>Subject Name: {{tabs.subname}}
 	 Course Name: {{courseSelected}}
	</p>
</div>
				
			<div class="clear"></div>
			</div>
			<div class="section group">
				<div class="col_1_of_4 span_1_of_4" ng-repeat="subjects in tabsArray.subjects">
					 <!--example panels-->
    <div class="container-fluid">
        <div class="row">
            <div>
              <!--panel-info-->
              <div class="panel panel-info">
                <div class="panel-heading collapsed" data-toggle="collapse" data-target="#sub_{{$index}}">
                  <h3 class="panel-title">
                    {{subjects.subname}}
                  </h3>
                </div>
                <div id="sub_{{$index}}" class="collapse">
                  <div class="panel-body" ng-repeat="classes in subjects.classes">
                    <blockquote>
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#classes_{{$index}}">{{classes.classname}}</button>
                    </blockquote>
                      
  <div id="classes_{{$index}}" name="classes_{{$index}}" class="collapse">
   		 <p><code>Click University</code></p>
   		 <div ng-repeat="university in classes.chapOrUniveristy">
   		 <blockquote>
   		 <button type="button" class="btn btn-info" data-toggle="collapse"  data-target="#uni_{{$index}}">{{university.chapter_universityName}}</button>
   		     </blockquote>
   		     <div id="uni_{{$index}}" class="collapse">
   		 		<p>Click<code>View Tutorials</code> to watch</p>
   		 		<!-- <div ng-repeat="playlists in university.playlists">
   		 			<a>{{playlists.playlistname}}</a>
   		 		</div> -->
   		 		<button class="btn btn-info" ng-click="getSpecificPlaylist(courseSelected+'_'+subjects.subname+'_'+classes.classname+'_'+university.chapter_universityName)">
   		 		View Tutorials
   		 		</button>
   		 		
   		 	 </div>	
   		 		
   		 </div>
  </div>
                    
                    
                  </div>
                </div>
              </div><!--/panel-info-->
             
             
              
          
              
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
					<div class="button">
						<!-- <a href="details.html">learn more</a> -->
						<p>Click On {{subjects.subname}} to expand</p>
					</div>
				</div>
				
			<div class="clear"></div>
			</div>
	</div>
	</div>
	
	
	
	
	
	<style type="text/css">
	
	.panel-heading .panel-title:after{
   /* symbol for "opening" panels */
   font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
   content: "\e082";
   float: right;
   opacity:0.6;
}
.panel-heading.collapsed .panel-title:after  {
   /* symbol for "collapsed" panels */
   content: "\e081";
}
.pad-left {
   padding-left:15px;
}
.panel-item {
   padding:30px;
}
.panel .nav-tabs {
   margin-top:1px;
}
.panel .tab-pane {
   padding-bottom:15px;
}

.padding10,.btn.padding10 {
   padding:10px;
}
.padding20,.btn.padding20 {
   padding:20px;
}
.padding30,.btn.padding30 {
   min-width:110px;
   padding:30px;
   display:block;
}
.v-center-container {display:table;}
.v-center {
align-self: center;
	 display: flex;
  align-items: center;
  justify-content: center;
}
    

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th { display: block; }
.table-fixed tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
.table-fixed thead {
  width: 97%;
}
.table-fixed thead th {
  height: 30px;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width:100%;
}
.table-fixed tbody td,
.table-fixed thead > tr> th {
  float: left;
  border-bottom-width:0;
}

.alerts {
 position:fixed;
 width:300px;
 right:30px;
 top:30px;
 z-index:10; 
}
.alerts>.alert-dismissable {
 position:relative;
 z-index:11;
 min-width:250px;
}


/* refresh plugin */
.refresh-container {
 position:absolute;
 top:0;
 right:0;
 background:rgba(200,200,200,0.25);
 width:100%;
 height:100%;
 display: none;
 text-align:center;
 z-index:4;
}

.refresh-spinner {
 margin-top:20%;
 opacity: 0.8;
}
/* end refresh plugin */




</style>